body { 
    background-color: black;
    color: white;
    max-width: 900px;
    margin: auto;
}
a {
    color: mediumpurple;
}
header, footer {
    font-size: 20px;
    margin: 35px 0;

}
header, h1, h2, footer, .index-a1{
    text-align: center;
}
h1 {
    font-size: 50px;
    margin: 0px;
}
h2 {
    font-size: 30px;
}
.image-1 {
    display: block;
    margin: auto;
    width: 50%;
}
div h1{
    color: yellow;
}